@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 1rem);
}
